<html>

<head>
    <title>GitHub Grabr</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 content">
                        <h2>GitHub Grabr</h2>
                        <h3>Hello <%= name %>!</h3>
                        <a href='/auth/logout'>logout</a>
                        <input type="text" class="form-control" id="usernameVal" placeholder="Enter GitHub Username">
                        <button type="button" class="btn btn-success" id="fetch">Fetch</button>
                    </div>
                </div>
                <table class="top-repos">
                    <tr>
                        <th>Stars</th>
                        <th>Repository Name</th>
                        <th>Username</th>
                        <th>Grabd By</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script>
        $('#fetch').click(e => {
            e.preventDefault();
            let $username = $('#usernameVal').val();
            $('#usernameVal').val('');
            gitHubCall($username).then(postToServer).then(res => {
                setTimeout(() => {
                    $('.top-repos').find('tr:gt(0)').remove();
                    populatePage()
                }, 500);
            })
        })

        let gitHubCall = function(username) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: `https://api.github.com/users/${username}/repos`,
                    // headers: {
                    //     'Authorization': `token ${githubKey}`
                    // },
                    success: result => {
                        resolve(result);
                    }
                });
            })
        }

        let postToServer = function(data) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'POST',
                    url: `/repos/import`,
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: result => {
                        console.log(result)
                        resolve(result);
                    }
                });
            })
        }

        let populatePage = function() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: `/repos`,
                    success: result => {
                        resolve(
                            result.forEach(item => {
                                $('.top-repos').append(
                                    `<tr>
                                                          <td>${item.stars}</td>
                                                          <td><a href="https://github.com/${item.username}/${item.repo}">${item.repo}</a></td>
                                                          <td>${item.username}</td>
                                                          <td>${item.fetchedBy}</td>
                                                        </tr>`
                                );
                            })
                        )
                    }
                });
            })
        }

        $(document).ready(() => {
            populatePage()
        })
    </script>
</body>

</html>
