<html>

<head>
    <link href="bootstrap.min.css" rel="stylesheet">
    <title>GitHub Fetcher</title>
</head>

<body>

    <h2>GitHub Fetcher - Login</h2>

    <p><a href='./login/github'>Login to GitHub to access the application</a></p>

</body>

</html>
